<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Plotlyjs Example</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    
</head>
<body>
        <div class="container">

                <div class="row">
                    <div class="col-md-12 jumbotron2 text-center">
                        <h1>Fast Food and Obesity in America</h1>
                        <p>Explore the Country with the Interactive Map below</p>
                    </div>
                </div>
        </div>

        <div id="map"></div>
        <script type="text/javascript" src="logic.js"></script>

    <br></br>

    <div class="container">
        
        <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class='panel-title'>Analysis Findings</h3>
                        </div>
                    </div>
                    <div class="findings">
                        We found xxxx state had the highest obesity rate among US states. 
                        While xxxxx was the state with the highest number of fast foot restaurants.
                        We found xxxx correlation with an r score of xxxxx
                    </div>
                </div>
        
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class='panel-title'>Correlation Analysis</h3>
                        </div>
                    </div>
                    <div id="plot"></div>
                </div>

        </div>

        <br></br>


        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">              
                    
                    <div class="panel-heading">
                        <h3 class="panel-title">Sample MetaData</h3>
                    </div>  
   
                        <table id="summary-table" class="table table-striped table-inverse">
                            <thead>
                                <tr>
                                    <th>State</th>
                                    <th>Population</th>
                                    <th>% Obese</th>
                                    <th>Obesity Rank</th>
                                    <th>Fast Food Restaurants</th>
                                    <th>Fast Food Restaurants Rank</th>
                                    <th>Fast Food Restaurants per Capita</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

    </div>

</body>
</html>
